.icon-card {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.icon-card:hover {
  cursor: pointer;
  background-color: #1677ff;
}

.icon-content {
  height: 70vh;
  overflow-y: scroll;
}
.icon-content-blank {
  height: 50vh;
  width: 100%;
}
